:root{
    --funeteheding: 'Montserrat', Montserrat;
    --funeteparrafos: 'Roboto' , Roboto;  
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.product2{
    display: none;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;/*1rem = 10px*/
    background-color: #DFC6DC;
}
h1,p,a{
    font-family: var(--funeteheding);
    color: white;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}




/*NOSOTROS HERO*/
.herom{
    display: inline-block;
    position: relative;    
    text-align: left;
    width: 100%;
    top: 2rem;
    
}
.nosotros-hero{
    top: 2rem;
}
.nosotrosm_img{
    width:100% ;  
}
.herom_texto{
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    letter-spacing: 0.5rem;
    font-size: 1.8rem;
    top: 75%;
    left: 2rem;
}
.hero_texto_2{
    font-size: 1.3rem;
}
.herom_anatomy_logo{
    position: absolute;
    width: 10%;
    top: 96%;
    right: 45%;
    z-index: 1;
}

/*SECCIONES*/
.secciones{
    position: relative;
}
.division{
    background-image: url(../img/IMG_0157.JPG);
    background-size: cover;
    opacity: 0.1;
    height: 4rem;
}
.seccionm{
    display: inline-flex;
    width: 100%;
    padding-top: 2rem; 
    position: relative; 
    justify-content: center; 
    align-items: center;
}
.seccionm img{
    width: 100%;
    height: 25.2rem;
    opacity: 90%;
    object-fit: cover;
    position: relative;
    padding: 0.1rem;
    padding-top: 0rem;
    opacity: 0.5;  
}
.colorhombres,
.colorhombres2{
    width: 100%;
    height: 25.2rem;
    position: absolute;
    background-color:rgb(99, 57, 124);
}
.colorhombres2{
    background-color:rgb(58, 85, 62);
}
.colorhombres3{
    background-color:rgb(28, 72, 45);
}
.secundaria{
    width: 100%;
    padding-top: 0rem;
}
.seccionp_boton{
    position: absolute; 
    text-align: center;
    text-decoration: none;
    width: 13.8rem;
    height: 14rem;
    border-radius:100%;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color:rgba(168, 183, 216, 62%);
    bottom: 7rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 9px 26px 4px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 9px 26px 4px rgba(0,0,0,0);
    
}
.seccionp_boton img{
    object-fit: cover;
    border-radius:100%;
    width: 13.8rem;
    height: 14rem;
    opacity: 1;

}
.mujeres{
    background-color: rgba(135, 34, 168, 60%);
}
.accesorios{
    background-color: rgba(180, 0, 0, 60%); 
}
.seccion_anatomy_logo{
    position: absolute;
    width: 10%;
    top:25.2rem;
    z-index: 1;
    right: 45%;
}
.logosecundaria{
    top: 50.7rem;
}
.logoterciaria{
    display: none;
    top: 76rem;
}

.seccion-classic, 
.seccion-functional,
.seccion-confort{
    width: 100%;
    height: 100%;
}
.seccion_texto{
    position: absolute;
    top: 21rem;
    font-size: 1.6rem;
    left: 17%;
    letter-spacing: 0.1rem; 
}
.texto_corrido{
    left: 50%;
    top: 23rem;
    letter-spacing: 0.1rem;
}
.texto2{
    top: 19rem;
}
.corrido2{
    top: 21rem;
}
.seccion_carrusel{
    
    text-align: center;
}
.seccion_carrusel h1{
    font-size: 1.7rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.footer{
    background-color: #61008C;
}
/*ELEMENTOS PARA EL MQ*/
.icon_logoes,
.menues,
.boton-hero,
.nosotros-lema_imagenes,
.redes2es,
.logohombreses,
.logohombreses2,
.herom_anatomyes{
    display: none;
}

@media (min-width: 760px){    
    html{
        background-color: white;
    }
    /*BARRA DE NAVEGACION */
    
    .nav{
        background-color: black;
        height: 6rem;
        z-index: 7;
    }
    .icon_logo,
    .herom_anatomy_logo,
    .nosotros-lema_imagen{
        display: none;
    }
    .icon_logoes{
        display: block;
        width: 80%;
        position: relative;
        top: 2rem;
        left: 0;
    }
    .icon_logoes:hover{
        animation: beat 2s infinite;
    }
    @keyframes beat {
        0%{width: 85%;}
        50%{width: 82%;}
        100%{width: 85%;}
        
    }
    .menues{
        display: flex;
        width: 33.3%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.2rem;
        margin: auto;
        position: relative;
        letter-spacing: 0.3rem;
        animation: blink 2s ;
    }
    
    .naves{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right: 5.9rem;
        text-decoration: none;
        position: relative;
        height: inherit;
        transition: linear 0.3s;
    }
    .naves:after{
        content: "";
        width: 0%;
        height: 0.3rem;
        background-color: #8fbaef6e;
        position: absolute;
        left: 0;
        top: 5rem;
        transition: ease-in 0.3s;
    }
    .naves:hover:after{
        width: 100%;
    }
    .naves:hover{
        color: #8FBBEF;
    }
    .iconos_nav{
        top: 1.2rem;
    }
    /*LINEA DIVISORIA*/
    .linea_divisoria,
    .linea_divisoria2{
        margin-top: 12rem;
        margin-bottom: 1rem;
        width: 80%;
        height: 0.07rem;
        background-color: #000000;
        position: absolute;
        z-index: 1;
        transform: translateX(10%);
    }
    .linea_divisoria2{
        margin-top: 2.5rem;
    }
        /*SIDEMENU*/
    .mujeresmenu{
        background-image: url(../img/IMG_0115.JPG),
                          url(../img/IMG_0114.JPG);
        background-repeat:no-repeat, repeat;
        background-size: 50%;
    }
    .mujeres_texto:hover{
        color: ivory;
        background-color: #c64aca8e;
    }
    .hombresmenu{
        background-image: url(../img/IMG_2696.JPG),
                          url(../img/IMG_0163.JPG);
        background-repeat:no-repeat, repeat;
        background-size: 50%;
    }
    .hombres_texto:hover{
        color: ivory;
        background-color: #3868a38a;

    }
    .nosotrosmenu{
        background-image: url(../img/IMG_0157.JPG),
                          url(../img/nosotros.png);
        background-repeat:no-repeat, repeat;
        background-size: 50%;
    }
    .nosotros_texto{
        color: rgb(252, 236, 236);
    }
    .nosotros_texto:hover{
        color: #0238AE;
        background-color: #a7b9cf8a;
    }
    /*MUJER HERO*/
    .herom{
        width: 100%;
        height: 100vh;
        background-image: url(../img/fm1.svg);
    }
    .herom_anatomyes{
        display: block;
        position: absolute;
        width: 20%;
        left: 60%;
        top: 25%;
        animation: animado1 2.5s;
    }
    .herom p{
        position: absolute;
        top: 15%;
        left: 34%;
    }
    .herom_texto{
        display: none;
    }
    .hero_texto2{
        font-weight: 700;
        font-size: 7rem;
        letter-spacing: 2rem;
    }
    .herom_anatomy_logo,
    .seccion_anatomy_logo{
        display: none;
    }
    
    .nosotrosm_img{
        display: none;
    }
    @keyframes animado1 {
        0%{
            left: -80rem;
        }  
    }
    /*LINEA CLASSIC*/
    .seccion-classic, 
    .seccion-functional,
    .seccion-confort{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        background-color: white;
    }
    .seccionm a{
        width: 40rem;
        height: 40rem;
        top: 20%;
    }
    .seccionp_boton img{
        width: 40rem;
        height: 40rem;
    }
    .seccion_izq,
    .seccion_der{
        width: 40% !important;
        height: 60rem !important;        
        opacity: 1 !important;        
    }
    .seccionm .seccion_izq,
    .seccionm .seccion_der{
        padding: 0 10rem;
    }
    .colorhombres,
    .colorhombres2,
    .colorhombres3{
        background-color: white;
    }
    .seccion_texto{
        color: #8554be;
        position: absolute;
        top: 10%;
        left: 45%;
        font-size: 2rem;
        font-weight: 700;
    }
    .texto_corrido{
        top: 90%;
        left: 40%;
        font-size: 2.5rem;
        letter-spacing: 0.4rem;
    }
    /*LINEA FUNCTIONAL*/
    .izq-functional{
        height: 40rem !important;
        margin-bottom: 20rem;
    }
    .der-functional{
        height: 40rem !important;
        margin-top: 20rem;
    }
    .texto2{
        top: 85%;
        left: 20%;
        color: #163E4D;
    }
    .corrido2{
        top: 10%;
        right: 10%;
        color: #294f5d;
        font-size: 3rem;
    }
    /*LINEA CONFORT*/
    .izq-confort{
        height: 40rem !important;
        margin-top: 20rem;
    }
    .der-confort{
        height: 40rem !important;
        margin-bottom: 20rem;
    }
    .texto3{
        top: 10%;
        left: 20%;
        color: #817164;
    }
    .corrido3{
        top: 85%;
        right: 7%;
        color: #817164;
        font-size: 3rem;
    }
    /*SLIDER*/
    .producto{
        background-color: #EDEDED;
        height: 100vh;
        margin-top: 15rem;
        padding-top: 0.001rem;
    }
    .slider{
        left: 50%;
        transform: translateX(-50%);
        max-width: 70rem;
        margin-top: 15rem;
    }
    .contenedor-slider{
        margin-right: 3rem;
    }
    .nuestrosproductos-slider{
        width: 40rem;
    }
    .nuestrosproductos-titulo{
        display: block;
        top: 5rem;
        color: black;
        font-size: 3rem;
        letter-spacing: 0.4rem;
    }
    .nuestrosproductos-titulo2{
        display: block;
        font-size: 1.4rem;
        color: black;
        margin-top: 1rem;
    }
    /*FOOTER*/
    
    .redes{
        justify-content: center;
        position: relative;
    }
    .footer a:hover,
    .footer p:hover,
    .footer h1:hover{
        color: #61008C;
    }
    .redes img{
        padding: 0 6rem;
        margin-bottom:3rem;
        margin-top: 2rem;
    }
    .linea_redes{
        display: none;
    }
    .footer{
        background-color: rgb(0, 0, 0);
    }
    .footer p{
        font-size: 1.4rem;
    }
    .footer_links_mains p{
        font-size: 1.8rem;
        letter-spacing: 0.3rem;
    }
    .footer_logo{
        display: none;
    }
    .footer_sublinks_arrows{
        display: none;
        font-size: 1.1rem;
    }
    .nosotros,
    .mujeres,
    .accesorios{
        display: block;
        flex-direction: column;
        color: black;
    }
    .linea-hombres{
        position: relative;
        left: 2%;
    }
    .noticiasubi1{
        position: relative;
        left: 25%;
    }
    .lineanosotros{
        position: relative;
        left: 2.6%;
    }
    .footer_info{
        margin: 4rem 0 4rem 0;
    }
    .redes2{
        display: none;
    }
    .redes2es{
        display: block;
        height: 100%;
    }
}



